<%- include('partials/header'); -%>

<h1><%= postTitle %></h1>
<p
  class="truncated"
  style="
    overflow: hidden;
    display: block;
    width: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
  "
>
  <%= postBody %>
</p>

<%- include('partials/footer'); -%>
